---
title: Blue Medora Nozzle for PCF
owner: Partners
---

This documentation describes the Blue Medora Nozzle for Pivotal Cloud Foundry (PCF). The Blue Medora Nozzle is a Cloud Foundry component that collects metrics for the Loggregator Firehose and exposes them via a RESTful API.

## <a id='overview'></a>Overview

The Blue Medora Nozzle for PCF includes the following key features:

* An automated configuration method alternative for the Blue Medora Nozzle.
* A means (via a RESTful API) to expose metrics collected for the Loggregator Firehose.
* Integration with Blue Medora's vRealize Operations Management Pack for Pivotal Cloud Foundry.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>YBlue Medora Nozzle for PCF Details:</dt>
<dd><strong>Version</strong>: v1.1.2 </dd>
<dd><strong>Release Date</strong>: November 15, 2016</dd>
<dd><strong>Software component version</strong>: vYOUR-SOFTWARE-COMPONENT-VERSION-NUMBER</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: vYOUR-COMPATIBLE-OPS-MAN-VERSION (Ex. v1.6.x, v1.7.x)</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: vYOUR-COMPATIBLE-ELASTIC-RUNTIME-VERSION (Ex. v1.4.x, v1.5.x, v1.6.x)</dd>
<dd><strong>vSphere support?</strong> YES-OR-NO</dd>
<dd><strong>OpenStack support?</strong> YES-OR-NO</dd>
<dd><strong>AWS support?</strong> YES-OR-NO</dd>
</dl>

## <a id="reqs"></a>Requirements

**Provide any general or specific requirements, prerequisites, or dependencies here. A general requirement might be something like, "An AppDynamics account." A specific requirement might be something like, "Packaging Dependencies for Offline Buildpacks."**

## <a id="limitations"></a>Limitations

**List any known limitations.**

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [Blue Medora Support](mailto:support@bluemedora.com).

## <a id='license'></a>License

**List any license information here.**

